.sidebar {
  width: 240px;
  min-height: calc(100vh - 75px);
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
}

.sidebar h3 {
  color: #1565c0;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.sidebar li:hover {
  background: #1565c0;
  color: white;
}
.sidebar a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
